---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Button from '~/components/ui/Button.astro';
import { YouTube } from 'astro-embed';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <Hero2
    tagline="About The Rover"
    image={{
      src: '~/assets/images/rover-sunrise.jpeg',
      alt: 'AstroWind Hero Image',
    }}
  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white">Skanda</span>
      <br />
    </Fragment>

    <Fragment slot="subtitle">
      A rover capable of excelling in the IRC's diverse tasks, including extreme terrain navigation, equipment
      servicing, autonomous operations, and scientific analysis. Our design integrates advanced mechanical systems,
      robust electronics, and intelligent algorithms, reflecting our commitment to interdisciplinary excellence and the
      spirit of exploration.
    </Fragment>
  </Hero2>

  <Hero>
    <Fragment slot="title"> About Us </Fragment>
    <Fragment slot="subtitle"
      >Check out this introductory video going over the various subsystems and the efforts taken so far.</Fragment
    >
    <Fragment slot="image">
      <YouTube
        id="kf187VukHJA"
        title="IRC (International Rover Challenge) | Team Odyssey | AVVB | Rover Functionality Demonstration |"
      />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>
  <Features3
    title="Meet our team"
    subtitle="We're a rag-tag team of students, working across departments to bring Skanda to life."
    columns={3}
    isBeforeContent={true}
    items={[
      {
        title: 'CS Subsystem',
        description: 'The CS Subsystem is in charge of programming the primitives for the rover to issue directions.',
        icon: 'tabler:device-desktop',
      },
      {
        title: 'Automation Subsystem',
        description:
          'Integrates all other subsystems and enables rover to act autonomously and perform all tasks programmatically.',
        icon: 'tabler:ai',
      },
      {
        title: 'Mechanial Subsystem',
        description: 'Responsible for physical build of the rover and ensures its movement and tolerance.',
        icon: 'tabler:settings',
      },
      {
        title: 'Electrical Subsystem',
        description: 'Integrating sensors, power management and stable communication.',
        icon: 'tabler:bolt',
      },
      {
        title: 'Arm Subsystem',
        description:
          'Responsible for operating the robotic arm attachment for extracting samples and manipulating objects.',
        icon: 'tabler:asset',
      },
      {
        title: 'Science Subsystem',
        description: 'Performs data analysis and gathers insights from the samples gathered by the rover.',
        icon: 'tabler:flask',
      },
    ]}
    image={{
      src: '~/assets/images/rover-team.jpeg',
      alt: 'Team Odyssey members posing together',
      width: 1920,
      height: 1080,
      aspectRatio: '16:9',
      objectPosition: 'center 65%',
      style: 'max-width: 1080px; margin: 0 auto; display: block;',
    }}
  />

  <!-- Steps2 Widget ****************** -->
  <Steps2
    title="Achievements"
    subtitle="Our team proudly secured 6th place in IRDC 2020 and ranked among the top 20 in IRC 2020, showcasing consistent performance on global platforms. We placed 23rd in the ISRO Rover Challenge 2024 and recently qualified for the IRC 2025 finals, ranking 17th in the SDDR phase. These milestones reflect our dedication to innovation, engineering excellence, and collaborative problem-solving."
    isReversed={true}
    items={[
      {
        title: '6th place in IRDC 2020',
        description: '',
        icon: 'tabler:award',
      },
      {
        title: 'Top 20 in IRC 2020',
        description: '',
        icon: 'tabler:award',
      },
      {
        title: '17th place in IRC 2025',
        description: '',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->
  <Features2
    title="Our location"
    tagline="Find us"
    columns={1}
    items={[
      {
        title: 'Amrita School of Engineering, Bengaluru',
        description: 'Amrita Vishwa Vidyapeetham, Kasavanahalli, Carmelaram P.O., Bengaluru, Karnataka 560035',
      },
    ]}
  />

  <Features2
    tagline="Contact us"
    columns={1}
    items={[
      {
        title: 'Email us',
        description:
          'Reach out to us at: <a href="mailto:rover_avvb@blr.amrita.edu" class="text-primary underline">rover_avvb@blr.amrita.edu</a>',
        icon: 'tabler:mail',
      },
    ]}
  />
</Layout>
