---
import Logo from '~/assets/images/logo.svg'
---

<span
  class="space-x-1 self-center ml-2 rtl:ml-0 flex items-center rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="max-w-32" src={Logo.src} />
</span>
