---
import Logo from '~/assets/images/logo.png'
---

<span
  class="space-x-1 self-center ml-2 rtl:ml-0 flex items-center rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white"
>
  <img class="w-12" src={Logo.src} />
  <div>
  Team <br />
      <div class="text-blue-800">
  Odyssey
      </div>
  </div>
</span>
